
   <center><h3> HOME </h3></center>

 
 
<center>


<table class="table table-striped">
<thead>
<th scope="col"> product</th>
<th scope="col">Panda Price </th>
<th scope="col">Danlub Price </th>
<th scope="col">ManualPrice </th>
</thead>


<tbody>
<% @product.each do |product| %>
    <% if product.product_type=='home'%>

  <tr> 
  <td>  
   <p> <%= image_tag product.image , :style=> 'width:100px' %></p>
   <p> <%=product.productname%></p>
  <td> <%= product.PandaPrice%>
       
   <td>  <%=product.DanubPrice %>
     <td> <%= product.ManualPrice %>
    
  <td> <%= link_to "Add" , "/carts/add/product/#{product.id}", :class => 'btn btn-primary'  %></td>
    </tr>
<% end %>
<% end %>

  </tbody>
</table>

   </center>