
 <div style="padding:50px">
<center>



<table class="table table-striped">
<thead>
<th scope="col"> product</th>
<th scope="col"><img src="http://www.ymco.sa/wp-content/uploads/2013/12/Panda.png" style="width:80px;  height:50px; float:center; margin-left:-10px"> </th>
<th scope="col"><img src="https://m.eyeofriyadh.com/directory/images/2018/08/7ee1357422cb.png" style="width:80px; height:50px; float:center; margin-left:-15px">  </th>
<th scope="col"><img src="http://www.manuelsupermarket.com/wp-content/uploads/flipbook/6/files/mobile-ext/appLogoIcon.png" style="width:80px; height:50px; float:center;margin-left:-20px;    "></th>
</thead>
<tbody>

<% @product.each do |product| %>
    <% if product.product_type=='dairy'%>

  <tr> 
  <td>  
   <p> <%= image_tag product.image , :style=> 'width:100px' %></p>
   <p> <%=product.productname%></p>
  <td> <%= product.PandaPrice%></td>
       
   <td>  <%=product.DanubPrice %></td>
     <td> <%= product.ManualPrice %></td>
    
  <td>        <%= link_to "Details " , product_path(product), :class => 'btn btn-default' %>
</td>
    </tr>
<% end %>
<% end %>

  </tbody>
</table>

   </center>

<br>
<br>
 
<center>

<h3 style="float:left;">  MEATS </h3> 


<table class="table table-striped">
 


<tbody>
<% @product.each do |product| %>
    <% if product.product_type=='meat'%>

  <tr> 
  <td>  
   <p> <%= image_tag product.image , :style=> 'width:100px' %></p>
   <p> <%=product.productname%></p>
  <td> <%= product.PandaPrice%>
       
   <td>  <%=product.DanubPrice %>
     <td> <%= product.ManualPrice %>
    
  <td>        <%= link_to "Details " , product_path(product), :class => 'btn btn-default' %>
</td>
    </tr>
<% end %>
<% end %>

  </tbody>
</table>

   </center>

<br>
<br>

<h3 style="float:left;"> FRUITS AND VEGATEBALES </h3>


<table class="table table-striped">
 

<tbody>
<% @product.each do |product| %>
    <% if product.product_type=='fruits'%>

  <tr> 
  <td>  
   <p> <%= image_tag product.image , :style=> 'width:100px' %></p>
   <p> <%=product.productname%></p>
  <td> <%= product.PandaPrice%>
       
   <td>  <%=product.DanubPrice %>
     <td> <%= product.ManualPrice %>
    
  <td>        <%= link_to "Details " , product_path(product), :class => 'btn btn-default' %>
</td>
    </tr>
<% end %>
<% end %>

  </tbody>
</table>

   </center>
<br>
<br>


<h3 style="float:left;">  HOME </h3>


<table class="table table-striped">
 


<tbody>
<% @product.each do |product| %>
    <% if product.product_type=='home'%>

  <tr> 
  <td>  
   <p> <%= image_tag product.image , :style=> 'width:100px' %></p>
   <p> <%=product.productname%></p>
  <td> <%= product.PandaPrice%>
       
   <td>  <%=product.DanubPrice %>
     <td> <%= product.ManualPrice %>
    
  <td>        <%= link_to "Details " , product_path(product), :class => 'btn btn-default' %>
</td>
    </tr>
<% end %>
<% end %>

  </tbody>
</table>

   </center>
   </div>