<!DOCTYPE html>
<html>
  <head>
    <title>project4</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<nav class="navbar  navbar-light" style="background-color: #ffcc00;" "fixed-top">
<img src="https://cdn2.iconfinder.com/data/icons/shopping-and-e-commerce-flat-circle-vol-1/100/cart__shopping__buy__ecommerce__shop__carticon__shoppingcart-512.png" width="10%"/>
<h3 class="navbar-brand mb-1 h1"style="font-size: 20px; margin-left:-150px" >SMART SHOP </h3>
  <%= link_to "Shopping List" , "/carts", :class => 'btn btn-default' %>
<nav class="nav justify-content-end">
    <% if user_signed_in? %>
      Logged in as :  <strong>  <%= current_user.email.split('@')[0].capitalize %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
    </nav>
</nav>
<% if notice %>
<p class="alert alert-success"><%= notice %></p>
<% end %>  
<% if alert %>
   <p class="alert alert-danger"><%= alert %></p>
<% end %>
<br>
<br>
<br>
<br>

    <%= yield %>
  </body>
</html>
