
 <div style="padding:50px">
 <% if user_signed_in? %>
<center><h4> SHOPPING LIST</h4>   </center>
<br>
 
<center>


<table class="table table-striped">
<thead>
<th scope="col"> product</th>
<th scope="col"><img src="http://www.ymco.sa/wp-content/uploads/2013/12/Panda.png" style="width:80px;  height:50px; float:center; margin-left:-10px"> </th>
<th scope="col"><img src="https://m.eyeofriyadh.com/directory/images/2018/08/7ee1357422cb.png" style="width:80px; height:50px; float:center; margin-left:-15px">  </th>
<th scope="col"><img src="http://www.manuelsupermarket.com/wp-content/uploads/flipbook/6/files/mobile-ext/appLogoIcon.png" style="width:80px; height:50px; float:center;margin-left:-20px;    "></th>
</thead>
<%@pandatotal=0%>
<%@danubtotal=0%>
<%@manualtotal=0%>

<tbody>
<% current_user.carts.each do |a| %>
  <tr> 
  <td>  <p> <%= image_tag a.product.image , :style=> 'width:100px' %></p>
   <%= a.product.productname %>
  <td> <%= a.product.PandaPrice%>
       <%@pandatotal+= a.product.PandaPrice %>
   <td>  <%= a.product.DanubPrice %>
    <%@danubtotal+= a.product.DanubPrice %>
     <td> <%= a.product.ManualPrice %>
      <%@manualtotal+= a.product.ManualPrice %>
  <td><%= link_to "Delete" , 
"/carts/#{a.id}/delete", 

                    data: {confirm: 'Are you sure'},
                            :class => 'btn btn-danger' %></td>
    </tr>
<% end %>

  </tbody>
</table>










<div style=" padding:20px; display:grid; grid-column-gap: 50px; grid-template-columns: auto auto auto;">



<div class="card" style="width: 12rem; ">
  <img class="card-img-top" src="http://www.ymco.sa/wp-content/uploads/2013/12/Panda.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">TOTAL</h5>
    <p class="card-text"><%=@pandatotal%></p>
   </div>
</div>
<div class="card" style="width: 12rem; ">
  <img class="card-img-top" src="https://m.eyeofriyadh.com/directory/images/2018/08/7ee1357422cb.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">TOTAL</h5>
    <p class="card-text"><%=@danubtotal%> </p>
   </div>
</div>

<div class="card" style="width: 12rem; ">
  <img class="card-img-top" src="http://www.manuelsupermarket.com/wp-content/uploads/flipbook/6/files/mobile-ext/appLogoIcon.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">TOTAL</h5>
    <p class="card-text"><%=@manualtotal%></p>
   </div>
</div>






 
 </div>
   </center>

   <%else%>
   <center> you must register/sign in
  <br> <button class="btn btn-outline-info"> <%= link_to"Back" ,customer_index_path %>  </button> </center>
   <%end%>

   </div>